@using Microsoft.AspNetCore.Identity
@using GymProje.Models

@inject SignInManager<Kullanici> SignInManager
@inject UserManager<Kullanici> UserManager

<ul class="navbar-nav align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold text-dark" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle fs-5 me-1"></i> @User.Identity?.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end border-0 shadow">
                <li>
                    <a class="dropdown-item text-danger" asp-controller="Account" asp-action="Logout">
                        <i class="bi bi-box-arrow-right"></i> Çıkış Yap
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark fw-bold" asp-controller="Account" asp-action="Login">GİRİŞ YAP</a>
        </li>
        <li class="nav-item ms-2">
            <a class="btn btn-primary text-white px-4" asp-controller="Account" asp-action="Register">KAYIT OL</a>
        </li>
    }
</ul>